<div ng-controller="PatConsultantsController" ng-init="initCanCreatePatConsultant(); initForm();" ng-show="showForm">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Create Patient Consultant</h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-7" ng-init="
                            data.status = '1';
                            data.patient_id = $state.params.id;
                            data.formtype = 'add';">
                <form name="PatConsultantForm" class="form-horizontal form-validation" novalidate="">
                    <div ng-include="'tpl/patient_consultant/_form.html'">
                        {% include 'tpl/patient_consultant/_form.html' %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
