<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Patients</h1>
</div>

<div class="wrapper-md" ng-controller="PatientRegisterController" ng-init="loadPatientsList()">

    <div ng-include="'tpl/blocks/alert.html'">
        {% include 'tpl/blocks/alert.html' %}
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button class="btn btn-sm btn-grey" ng-click="loadPatientsList()"> 
                &nbsp; &nbsp; <i class="fa fa-repeat"></i> &nbsp; &nbsp; 
            </button>
            <button check-access-button ng-click="$state.go('configuration.patient_create')" class="btn btn-sm btn-info pull-right">
                <i class="fa fa-plus"></i> &nbsp; Add new Patient
            </button>
        </div>

        <table st-table="displayedCollection"  st-safe-src="rowCollection" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th st-sort="patient_name">Patient name</th>
                    <th st-sort="floor_name">Floor</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="'patient_name'" placeholder="search for patient name" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="'floor_name'" placeholder="search for floor name" class="input-sm form-control" type="search"/>
                    </th>
                    <th colspan="2">&nbsp;</th>
                </tr>
            </thead>
            <tbody ng-hide="isLoading">
                <tr ng-repeat="row in displayedCollection| orderBy: patient_code">
                    <td>
                        {{row.patient_name}}
                    </td>
                    <td>
                        {{row.floor_name}}
                    </td>
                    <td>
                        <label class="i-checks "> 
                            <input type="checkbox" checked="" ng-true-value="'1'" ng-false-value="'0'" name="status" ng-model="row.status" ng-change='updateStatus("CoPatient", row.patient_id)'> 
                            <i></i>
                        </label>
                    </td>                    
                    <td>
                        <a title="Edit" check-access  ui-sref="configuration.patient_update({id: 'row.patient_guid'})">
                            <i class="fa fa-pencil"></i>
                        </a>&nbsp;&nbsp;&nbsp;
                        <a class="hide" title="Delete" ng-click="removeRow(row)">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tbody ng-show="isLoading">
                <tr>
                    <td colspan="4" class="text-center"><i class="fa fa-spin fa-refresh"></i></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>