<div ng-controller="CustomRoomChargeCategoriesController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Create {{category.charge_cat_name}}</h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-12" ng-init="data = {}; data.formtype = 'add';
                            initForm();
                            data.status = '1';">
                <form name="customForm" class="form-horizontal form-validation" novalidate="">
                    <div ng-include="'tpl/room_charge_category_custom/_form.html'">
                        {% include 'tpl/room_charge_category_custom/_form.html' %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>