<div ng-controller="ProcedureController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Update Patient Procedure</h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-7" ng-init="data.formtype = 'update';
                                initForm();
                                loadForm();
                                ">
                <form name="procForm" class="form-horizontal form-validation" novalidate="">
                    <div ng-include="'tpl/patient_procedure/_form.html'">
                        {% include 'tpl/patient_procedure/_form.html' %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
