<table class="table " st-safe-src="rowCollection" st-table="displayedCollection">
    <thead>
        <tr>
            <th style="width: 5%">
                <button class="btn btn-sm btn-default" type="button" ng-click="ctrl.expandAll(allExpanded = !allExpanded)">
                    <i ng-if="!allExpanded" class="fa fa-plus text"></i>
                    <i ng-if="allExpanded" class="fa fa-minus text"></i>
                </button>
            </th>
            <th>&nbsp;</th>
            <th>Prescription Date</th>
            <th>Branch Name</th>
            <th>Consultant Name</th>
            <th>Next Visit</th>
            <th style="width: 20%">Diagnosis</th>
            <th>No of days</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody ng-hide="isLoading">

        <tr ng-repeat-start="(pres_key, value) in displayedCollection">
            <td style="width: 5%">
                <button ng-click="expanded = !expanded" expand class="btn btn-sm btn-default hms-plus" >
                    <i ng-if="!expanded" class="fa fa-plus text"></i>
                    <i ng-if="expanded" class="fa fa-minus text"></i>
                </button>
            </td>
            <td>
                <label ng-if="value.tenant_id == app.logged_tenant_id" class="i-checks"> 
                    <input ng-model="row.selected" ng-true-value="'1'" ng-false-value="'0'" ng-checked="value.selected == '1'"  type="checkbox" name="checkall" class="prevprescheckbox prevprescheckbox_{{pres_key}}" ng-click="updateCheckbox(row, pres_key)"> 
                    <i></i> 
                </label>&nbsp; &nbsp;
            </td>
            <td>{{value.pres_date}}</td>
            <td>{{value.branch_name}}</td>
            <td>{{value.consultant_name}}</td>
            <td>{{value.next_visit}}</td>
            <td>{{value.diag_name}}</td>
            <td>{{value.number_of_days}}</td>
            <td>
                <button tooltip="Print Prescription"  class="label bg-primary dk" ng-click="printPres(value.pres_id)">
                    <i class="fa fa-print"></i>
                </button>
                <button tooltip="Edit Prescription"  class="label bg-dark dk" ng-click="prescriptionEdit(value)">
                    <i class="fa fa-pencil"></i>
                </button>
                <a ng-if="value.tenant_id == app.logged_tenant_id" data-button="patient.prescriptionDelete" check-access-custom title="Delete Prescription" ng-click="removeRow(value.pres_id)" class="label bg-dark dk">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        <tr ng-repeat-end ng-show="expanded">
            <td></td>
            <td colspan="7">
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Product Name</th>
                            <th>Generic Name</th>
                            <th>Drug Name</th>
                            <th>Route</th>
                            <th>Frequency</th>
                            <th>No of days</th>
                            <th>AF / BF</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(gKey, row) in value.items | orderBy: prescriptionitem" class="tr_prevprescheckbox tr_prevprescheckbox_{{pres_key}}">
                            <td>
                                <label ng-if="value.tenant_id == app.logged_tenant_id" class="i-checks"> 
                                    <input ng-model="row.selected" ng-true-value="'1'" ng-false-value="'0'" ng-checked="row.selected == '1'" class="prevprescheckbox prevprescheckbox_{{pres_key}}" id="prevpres_{{pres_key}}_{{gKey}}" type="checkbox" name="status" ng-click="moreOptions(pres_key, gKey, row)"> 
                                    <i></i> 
                                </label>
                            </td>
                            <td>{{ row.product_name}}</td>
                            <td>{{ row.generic_name}}</td>
                            <td>{{ row.drug_name}}</td>
                            <td>{{ row.route_name}}</td>
                            <td>{{ row.frequency_name}}</td>
                            <td>{{ row.number_of_days}}</td>
                            <td>{{ row.food_type == 'NA' ? '-' : row.food_type}}</td>
                            <td>{{ row.remarks || '-'}}</td>
                        </tr>
                    </tbody>
                </table>                            
            </td>
        </tr>
    </tbody>
    <tbody ng-show="isLoading">
        <tr>
            <td colspan="9" class="text-center"><i class="fa fa-spin fa-refresh"></i></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>  
            <td align="center" colspan="9">  
                <div class="pull-right">  
                    <pagination total-items="totalCount" ng-change="pageChanged(pageIndex)" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>  
                </div>  
            </td>  
        </tr> 
    </tfoot>
</table>
<div id='print_previous_pres' ng-if="prescription_print_content" ng-hide="true">
    <style parse-style>
        @media print
        {
            @page  {
                margin-top: ' + prescription_print.PMT + 'mm;
            }
        }
    </style>
    <table class="invoice" align="center">
        <tbody>
            <tr>
                <td colspan="3" class="referenceId">
                    <table>
                        <tbody>
                            <tr>
                                <td width="48%"></td>
                                <td width="4%" align="center" class="logoTxt">
                                    <span style="font-weight: bold">R</span>
                                    <span style="font-weight: bold" class="absoluteTxt">X</span>
                                </td>
                                <td width="48%" align="right">
                                    <table>
                                        <tr align="right"><td><span style="font-size: 20px; margin-right: 5px;padding-bottom: 5px">{{today| date: "dd-MMMM-y" }}</span></td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr align="right"><td><io-barcode code="{{patientObj.patient_global_int_code}}" type="CODE128B" options="barcodeOptions" width="220px" height="70px"></io-barcode></td></tr>
                    </table>
                </td>
            </tr>
        </tbody> 
    </table>
</td>
</tr>
<tr>
    <td colspan="3" class="patientInfo">
        <table>
            <tbody>
                <tr>
                    <td width="5%" rowspan="4"><io-barcode code="{{patientObj.patient_global_int_code}}" type="CODE128B" options="barcodeOptions" style='height:50px;-ms-transform: rotate(90deg);-webkit-transform: rotate(270deg); transform: rotate(270deg);'></io-barcode></td>
    <!--    <td width="55%"><h2>{{patientObj.fullname}} / {{patientObj.patient_age_ym}}</h2></td>
        <td width="40%" class="borderLeft">Pulse : <span class="lightColor">{{vital.pulse_rate|| '-'}}</span></td>-->
    <td width="55%">
        <table>
            <tr><td class="patient_pres"><h2>{{patientObj.fullname}} / {{patientObj.patient_age_ym}}</h2></td></tr>
            <tr><td class="patient_pres">{{patientObj.patient_global_int_code}} 
                    <span ng-if="patientObj.patient_category" style="background-color: {{patientObj.patient_category_color}}" class="greenBg">
                        {{patientObj.patient_category| uppercase}}
                    </span></td></tr>
            <tr><td class="patient_pres">Consultant : <span class="lightColor">{{data2.consultant_name}}</span></td></tr>
            <tr><td>&nbsp;</td></tr>
        </table>
    </td>
    <td width="40%" class="borderLeft">
        <table>
            <tr ng-if="((vitalcong.BP == 1) && ((vital.blood_pressure_systolic) || (vital.blood_pressure_diastolic)))"><td>Blood pressure : <span class="lightColor">{{vital.blood_pressure_systolic|| '-'}} / {{vital.blood_pressure_diastolic|| '-'}} mmHg</span></td></tr>
            <tr ng-if="((vitalcong.Temperature == 1) && (vital.temperature))"><td>Temperature : <span class="lightColor">{{vital.temperature|| '-'}} °C</td></tr>
            <tr ng-if="((vitalcong.Pulse == 1) && (vital.pulse))"><td>Pulse : <span class="lightColor">{{vital.pulse|| '-'}} Beats</span></td></tr>
            <tr ng-if="((vitalcong.Weight == 1) && (vital.weight))"><td>Weight : <span class="lightColor">{{vital.weight|| '-'}} Kg</span></td></tr>
            <tr ng-if="((vitalcong.Height == 1) && (vital.height))"><td>Height  : <span class="lightColor">{{vital.height|| '-'}} CM</span></td></tr>
            <tr ng-if="((vitalcong.SP02 == 1) && (vital.sp02))"><td>Sp02 : <span class="lightColor">{{vital.sp02|| '-'}}</span></td></tr>
            <tr ng-if="((vitalcong.Pain_Score == 1) && (vital.pain_score))"><td>Temperature : <span class="lightColor">{{vital.pain_score|| '-'}}</td></tr>
        </table>
    </td>
</tr>
<!--<tr>
    <td>{{patientObj.patient_global_int_code}} 
        <span ng-if="patientObj.patient_category" style="background-color: {{patientObj.patient_category_color}}" class="greenBg">
            {{patientObj.patient_category| uppercase}}
        </span>
    </td>
    <td class="borderLeft">Blood pressure : <span class="lightColor">{{vital.blood_pressure_systolic|| '-'}} / {{vital.blood_pressure_diastolic|| '-'}}</span></td>
</tr>
<tr>
    <td>Consultant : <span class="lightColor">{{data2.consultant_name}}</span></td>
    <td class="borderLeft">Temperature : <span class="lightColor">{{vital.temperature|| '-'}} °C</span></td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td class="borderLeft">Weight : <span class="lightColor">{{vital.weight|| '-'}} Kg</span></td>
</tr>-->
</tbody> 
</table>
</td>
</tr>
<tr>
    <td ng-if="prescription_print.SA == 1" colspan="3" style="padding: 8px;font-size: 20px;"><b>Allergies :</b> {{data2.allergies||'-'}}</td>
</tr>
<tr>
    <td ng-if="prescription_print.SD == 1" colspan="3" style="padding: 8px;font-size: 20px;"><b>Diagnosis :</b> {{data2.diag_name}}</td>
</tr>
<tr>
    <td class="prescriptionInfo">
        <table>
            <thead>
                <tr>
                    <th><span>Medicine Name</span></th>
                    <th width="5%" class="txtCenter pres-icon1"><span><img ng-src="{{IRISOrgUrl}}/img/weather1.png" alt="Morning" /></span></th>
                    <th width="5%" class="txtCenter pres-icon1"><span><img ng-src="{{IRISOrgUrl}}/img/weather2.png" alt="Afternoon" /></span></th>
                    <th width="5%" class="txtCenter pres-icon1"><span><img ng-src="{{IRISOrgUrl}}/img/weather3.png" alt="Evening" /></span></th>
                    <th width="5%" class="txtCenter pres-icon1"><span><img ng-src="{{IRISOrgUrl}}/img/weather4.png" alt="Night" /></span></th>
                    <th></th>
                    <th width="8%" class="txtCenter"><span>Days</span></th>
                    <th width="8%" class="txtCenter"><span>Qty</span></th>
                    <th width="5%" class="txtCenter pres-icon1"><span><img ng-src="{{IRISOrgUrl}}/img/food.png" alt="Night" /></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="(gKey, row) in prescriptionItems2">
                    <td><p><span style="font-weight: normal">{{gKey + 1}}.</span> {{row.product_name}}</p><i>(<b>{{row.generic_name}}</b>)</i></td>
                    <td class="txtCenter txtUpper" colspan="4" ng-if="row.freqType == 'txt'">{{ getFrequencyExists(row.frequency_name, 0, row.freqType)}}</td>

                    <td class="txtCenter" ng-if="row.freqType != 'txt'">
                        <span ng-bind-html="getFrequencyExists(row.frequency_name, 0, row.freqType)"></span>
                    </td>
                    <td class="txtCenter" ng-if="row.freqType != 'txt'">
                        <span ng-bind-html="getFrequencyExists(row.frequency_name, 1, row.freqType)"></span>
                    </td>

                    <td class="txtCenter" ng-if="((row.freqType == 3) && (row.freqType != 'txt'))">-</td>
                    <td class="txtCenter" ng-if="((row.freqType != 3) && (row.freqType != 'txt'))">
                        <span ng-bind-html="getFrequencyExists(row.frequency_name, 2, row.freqType)"></span>
                    </td>

                    <td class="txtCenter" ng-if="((row.freqType == 3) && (row.freqType != 'txt'))">
                        <span ng-bind-html="getFrequencyExists(row.frequency_name, 2, row.freqType)"></span>
                    </td>
                    <td class="txtCenter" ng-if="((row.freqType != 3) && (row.freqType != 'txt'))">
                        <span ng-bind-html="getFrequencyExists(row.frequency_name, 3, row.freqType)"></span>
                    </td>
                    <td>
                        {{(row.product.description_name| uppercase) == 'SYRUP' ? "ml" : "" }}
                    </td>

                    <td class="txtCenter">{{row.number_of_days}}</td>
                    <td class="txtCenter">{{row.total_qty}}</td>
                    <td class="txtCenter">{{ row.food_type == 'NA' ? '-' : row.food_type}}</td>
                </tr>
                <tr ng-repeat-end="rows in row">
                    <td ng-if="row.remarks" colspan="6">
                        Remarks : {{row.remarks}}
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr> 
</tbody>
<!--<tfoot class="nextVisit">
    <tr>
        <td><p class="txtCenter">* Next Visit - {{data2.next_visit| date: "dd-MMMM-y" }}</p></td>
    </tr>
</tfoot>-->
</table>
<div>
    <table style="position: absolute; bottom: 30px;">
        <tr>
            <td>
                <div>
                    <p ng-if="prescription_print.PID == 1" style="font-size: 15px;">Prescription ID  : <span class="lightColor">{{data2.pres_id}}</span></p>
                    <p ng-if="prescription_print.PIB == 1" style="font-size: 15px;">Issued by : <span class="lightColor">{{app.username}}</span></p>
                    <p ng-if="prescription_print.PIA == 1" style="font-size: 15px;">Issued at : <span class="lightColor">{{app.org_name}}</span></p>
                </div>
                <p style="font-size: 25px;"><b>* Next Visit : {{(data2.next_visit| date: "dd-MMMM-y") || "-" }}</b></p>
            </td>
            <td>
                <p style="font-size: 25px; float: right;"><b>{{data2.consultant_name}}</b></p>
            </td>
        </tr>
    </table>
</div>
</div>
