<div ng-controller="OrganizationController" ng-init="initChangePassword()">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Change Password</h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-6">
                <form name="changePasswordForm" class="form-horizontal form-validation" novalidate="">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Old Password * </label>
                                <div class="col-sm-8">
                                    <input type="password" ng-model="data.old_password" maxlength="50" class="form-control" placeholder="Old Password" focus-me="true">
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg "></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">New Password * </label>
                                <div class="col-sm-8">
                                    <input type="password" ng-model="data.new_password" maxlength="50" class="form-control" placeholder="New Password">
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg "></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Confirm Password * </label>
                                <div class="col-sm-8">
                                    <input type="password" ng-model="data.confirm_password" maxlength="50" class="form-control" placeholder="Confirm Password">
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg "></div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button class="btn m-b-xs  btn-success save-btn" ng-click="changePassword()">Change Password</button>
                        </footer>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
