<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Organizations</h1>
</div>

<div class="wrapper-md" ng-controller="OrganizationController" ng-init="loadOrganizationsList()">

    <div ng-include="'tpl/blocks/alert.html'">
        {% include 'tpl/blocks/alert.html' %}
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <button class="btn btn-sm btn-grey" ng-click="loadOrganizationsList()"> 
                &nbsp; &nbsp; <i class="fa fa-repeat"></i> &nbsp; &nbsp; 
            </button>
            <button ng-click="$state.go('app.org_new')" class="btn btn-sm btn-info pull-right"><i class="fa fa-plus"></i> &nbsp; Create Organization</button>
        </div>


        <!--<div class="panel-heading">pipe/ajax plugin</div>-->
        <!--<table st-table="rowCollectionPip"  st-pipe="callServer" class="table table-striped">-->
        <table st-table="displayedCollection"  st-safe-src="rowCollection" class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 5%;">
<!--                        <button class="btn btn-sm btn-default" type="button" ng-click="ctrl.expandAll(allExpanded = !allExpanded)">
                            <i ng-if="!allExpanded" class="fa fa-plus text"></i>
                            <i ng-if="allExpanded" class="fa fa-minus text"></i>
                        </button>-->
                    </th>
                    <th style="width: 65%;" st-sort="org_name">Organization Name</th>
                    <th style="width: 20%;">Status</th>
                    <th style="width: 10%;">Action</th>
                </tr>
<!--                <tr>
                    <th>&nbsp;</th>
                    <th>
                        <input st-search="'org_name'" placeholder="search for organizationname" class="input-sm form-control" type="search"/>
                    </th>
                    <th colspan="3">
                                                <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
                    </th>
                </tr>-->
            </thead>
            <tbody ng-hide="isLoading">
                <tr ng-repeat-start="row in displayedCollection| orderBy: org_name">
                    <td>
                        <button ng-click="expanded = !expanded" expand class="btn btn-sm btn-default">
                            <i ng-if="!expanded" class="fa fa-plus text"></i>
                            <i ng-if="expanded" class="fa fa-minus text"></i>
                        </button>
                    </td>
                    <td>{{row.org_name}}</td>
                    <td>
                        <label class="i-checks "> 
                            <input type="checkbox" checked="" ng-true-value="'1'" ng-false-value="'0'" name="status" ng-model="row.status" ng-change='updateStatus("CoOrganization", row.org_id, row.org_domain)'> 
                            <i></i>
                        </label>
                    </td>
                    <td>
                        <a title="Add Brach" ui-sref="app.branch_add({org_id: '{{row.org_id}}'})"><i class="fa fa-plus-circle"></i></a>&nbsp;&nbsp;
                        <a title="Edit" ui-sref="app.org_edit({id: '{{row.org_id}}'})"><i class="fa fa-pencil"></i></a>
                    </td>
                </tr>
                <tr ng-repeat-end ng-show="expanded">
                    <td></td>
                    <td colspan="3">
                        <table class="table table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th st-sort="tenant_name">Branch Name</th>
                                    <th st-sort="lastName">Address</th>
                                    <th st-sort="birthDate">City</th>
                                    <th st-sort="balance">State</th>
                                    <th>Country</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Pharmacy</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody ng-hide="isLoading">
                                <tr ng-repeat="tenant in row.tenants| orderBy: tenant_name">
                                    <td>{{tenant.tenant_name}}</td>
                                    <td>{{tenant.tenant_address}}</td>
                                    <td>{{tenant.tenant_city_name}}</td>
                                    <td>{{tenant.tenant_state_name}}</td>
                                    <td>{{tenant.tenant_country_name}}</td>
                                    <td>
                                        {{tenant.tenant_email}}
                                    </td>
                                    <td>
                                        <label class="i-checks "> 
                                            <input type="checkbox" checked="" ng-true-value="'1'" ng-false-value="'0'" name="status" ng-model="tenant.status" ng-change='updateStatus("CoTenant", tenant.tenant_id, row.org_domain)'> 
                                            <i></i>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="i-checks "> 
                                            <input type="checkbox" checked="" ng-true-value="'1'" ng-false-value="'0'" name="pharmacy_setup" ng-model="tenant.pharmacy_setup" ng-change='updatePharmacy("CoTenant", tenant.tenant_id, row.org_domain)'> 
                                            <i></i>
                                        </label>
                                    </td>
                                    <td><a title="Edit" ui-sref="app.branch_edit({org_id: '{{row.org_id}}', id: '{{tenant.tenant_id}}'})"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
            <tbody ng-show="isLoading">
                <tr>
                    <td colspan="4" class="text-center"><i class="fa fa-spin fa-refresh"></i></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
