<div ng-controller="OrganizationController as org" ng-init="initForm()">
    <div class="bg-light lter b-b wrapper-md ng-scope">
        <h1 class="m-n font-thin h3">Update Organization: {{data.Tenant.tenant_name}}</h1>
    </div>
    <div class="wrapper-md ng-scope">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>

        <div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <button class="btn btn-black" type="button" ui-sref="app.org_list" onclick="javascript:void(0)">Back</button>
                    </div>
                </div>
            </div>
            <tabset class="tab-container" ng-init="steps={percent:0, step1:true, step2:false}">
                <tab heading="Organization" active="steps.step1" select="setFocus(1)">
                    <form name="step1" class="bs-example form-horizontal ng-pristine ng-valid form-validation" novalidate="">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Organization Name *</label>
                                        <div class="col-lg-8">
                                            <input type="text" placeholder="Organization Name" class="form-control" ng-model="data.Organization.org_name" focus-me="true" id="tenant_name" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Organization Description *</label>
                                        <div class="col-lg-8">
                                            <textarea type="text" placeholder="Organization Description" class="form-control" ng-model="data.Organization.org_description" required></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Host Name *</label>
                                        <div class="col-lg-8">
                                            <input type="text" placeholder="Host Name" class="form-control" ng-model="data.Organization.org_db_host" required readonly='true'>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Database Username *</label>
                                        <div class="col-lg-8">
                                            <input type="text" placeholder="Database Username" class="form-control" ng-model="data.Organization.org_db_username" required readonly='true'>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Database Password</label>
                                        <div class="col-lg-8">
                                            <input type="text" placeholder="Database Password" class="form-control" ng-model="data.Organization.org_db_password" readonly='true'>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Org Db Name *</label>
                                        <div class="col-lg-8">
                                            <input type="text" placeholder="Org Db Name" class="form-control" ng-model="data.Organization.org_database" required readonly='true'>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Org Pharmacy Db Name *</label>
                                        <div class="col-lg-8">
                                            <input type="text" placeholder="Org Pharmacy Db Name" class="form-control" ng-model="data.Organization.org_db_pharmacy" required readonly='true'>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Domain Name *</label>
                                        <div class="col-lg-8">
                                            <input type="text" placeholder="Domain Name" class="form-control" ng-model="data.Organization.org_domain" required readonly='true'>
                                            <span class="help-block">(Ex: http://hms.com)</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Patient UHID Prefix *</label>
                                        <div class="col-lg-8">
                                            <input type="text" placeholder="Patient UHID Prefix" class="form-control" ng-model="data.Organization.prefix_code" required readonly='true'>
                                        </div>
                                    </div>
                                    <div class="pull-right m-t m-b">
                                        <button type="submit" class="btn btn-default btn-rounded" ng-click="updateValidateForm('Organization', 2);">Next</button>
                                        <!--<button type="submit" class="btn btn-default btn-rounded" ng-disabled="step1.$invalid" ng-click="steps.step2 = true">Next</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </tab>

                <tab heading="User" disabled="step1.$invalid" active="steps.step2" select="setFocus(2)">
                    <div class="row">
                        <div class="col-sm-12">
                            <form name="step2" class="bs-example form-horizontal ng-pristine ng-valid form-validation" novalidate="">
                                <div class="col-sm-6">

                                    <input type="hidden" ng-model="data.User.user_id">

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Prefix *</label>
                                        <div class="col-lg-8">
                                            <select class="form-control" name="Title" ng-model="data.User.title_code" ng-options="title_code.value as title_code.label for title_code in title_codes">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Name *</label>
                                        <div class="col-lg-8">
                                            <input type="text" placeholder="Name" class="form-control" id="user_name" ng-model="data.User.name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Designation *</label>
                                        <div class="col-lg-8">
                                            <input type="text" placeholder="Designation" class="form-control" ng-model="data.User.designation">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Email *</label>
                                        <div class="col-lg-8">
                                            <input type="text" placeholder="Email" class="form-control" ng-model="data.User.email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Mobile *</label>
                                        <div class="col-lg-8">
                                            <input type="text" placeholder="Mobile" class="form-control" ng-model="data.User.mobile" only-digits="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Contact1</label>
                                        <div class="col-lg-8">
                                            <input type="text" placeholder="Contact1" class="form-control" ng-model="data.User.contact1" only-digits="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Contact2</label>
                                        <div class="col-lg-8">
                                            <input type="text" placeholder="Contact2" class="form-control" ng-model="data.User.contact2" only-digits="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Address *</label>
                                        <div class="col-lg-8">
                                            <textarea placeholder="Address" class="form-control" ng-model="data.User.address"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Country *</label>
                                        <div class="col-lg-8">
                                            <select class="form-control" name="Country" ng-model="data.User.country_id" ng-options="country.value as country.label for country in countries| orderBy: label" data-ng-change="updateState2(); data.User.state_id = ''; data.User.city_id = '';">
                                                <option value="">Select Country</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">State *</label>
                                        <div class="col-lg-8">
                                            <select class="form-control" name="State" ng-model="data.User.state_id" ng-options="state.value as state.label for state in availableStates2| orderBy: label" data-ng-change="updateCity2(); data.User.city_id = '';">
                                                <option value="">Select State</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">City *</label>
                                        <div class="col-lg-8">
                                            <select class="form-control" name="City" ng-model="data.User.city_id" ng-options="city.value as city.label for city in availableCities2| orderBy: label">
                                                <option value="">Select City</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Zip *</label>
                                        <div class="col-lg-8">
                                            <input type="text" placeholder="Zip" class="form-control" ng-model="data.User.zip" only-digits="">
                                        </div>
                                    </div>


                                    <div class="pull-right">
                                        <button class="btn btn-primary save-btn" type="submit" ng-click="saveForm('User')">Save</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>

</div>
