<div>
    <style>
        .ui-datepicker-calendar {
            display: none;
        }
        .ui-datepicker .ui-datepicker-buttonpane
        {
            display: none;
        }
    </style>
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Scheduled Appointments</h1>
    </div>

    <div class="wrapper-md tab-btn" ng-controller="FutureAppointmentCalenderController">
        <div class="row">
            <div class="col-sm-6">
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-info"  ui-sref="patient.outPatients">
                        <i class="fa fa-user-md"></i>&nbsp;&nbsp;Today's Appointments
                    </a>
                    <a class="btn btn-info active" ng-click="loadOutPatientsList('Future')">
                        <i class="fa fa-hospital-o"></i>&nbsp;&nbsp;Scheduled Appointments
                    </a>
                    <a class="btn btn-info" ui-sref="patient.outPatients({ type: 'previous' })">
                        <i class="fa fa-user-md"></i>&nbsp;&nbsp;Past Appointments
                    </a>
                </div>
            </div>
            <div class="col-sm-6"></div>
            <div class="col-sm-2 pull-right">
                <div class="btn-group btn-group-justified">
                    <a id="a_list_view" class="btn btn-info a_view" ng-click="switch ('calendar_view')" style="display: none" >
                        <i class="fa fa-calendar"></i>  &nbsp;Switch to Calendar View
                    </a>
                    <a id="a_calendar_view" class="btn btn-success a_view" ng-click="switch ('list_view')">
                        <i class="fa fa-list-alt"></i>&nbsp; Switch to List View
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="list_view" style="display: none" class="wrapper-md view_div" ng-controller="OutPatientsController" ng-init="loadOutPatientsList('Future')">
        <div class="panel panel-default">
            <div class="row wrapper">
                <div class="col-sm-9 m-b-xs">
                    <div class="col-sm-1">
                        <button class="btn btn-sm btn-grey" ng-click="loadOutPatientsList('Future'); resetDatepicker();"> &nbsp; &nbsp; <i class="fa fa-refresh"></i>  &nbsp; &nbsp; </button>
                    </div>
                    <div class="col-sm-3">
                        <div id="appointment"></div>
                    </div>
                    <div class="col-sm-6">
                        <span ng-show="currentAppointmentSelected > 0">
                            <button ng-click="rescheduleAppointments()" class="btn btn-sm btn-primary">
                                <i class="fa fa-retweet"></i> Reschedule Appointments
                            </button>
                            <button ng-click="cancelAppointments()" class="btn btn-sm btn-dark">
                                <i class="fa fa-times"></i> Cancel Appointment
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-3 pull-right text-right">
<!--                    <h4 class="label bg-primary"> <b> Census: {{census}} </b></h4>-->
                </div>
            </div>

            <div class="table-responsive in-patient-table">
                <table st-table="displayedCollection"  st-safe-src="rowCollection"  class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th style="width:60px;">&nbsp;</th>
                            <th>
                                <button class="btn btn-sm btn-default hms-plus" type="button" ng-click="ctrl.expandAll(allExpanded = !allExpanded)">
                                    <i ng-if="!allExpanded" class="fa fa-plus text"></i>
                                    <i ng-if="allExpanded" class="fa fa-minus text"></i>
                                </button>
                            </th>
                            <th>Patient</th>
                            <th>Category</th>
                            <th>Contact#</th>
                            <th>appointment time</th>
                            <th style="width:250px;"> Actions</th>
                        </tr>
                    </thead>
                    <tbody ng-hide="isLoading">
                        <tr ng-if="displayedCollection.length == 0">
                            <td colspan="9" class="text-center">
                                No O/P records
                            </td>
                        </tr>
                        <tr ng-repeat-start="(op_key, value) in displayedCollection">
                            <td align="center" style="width:60px;">
                                <label class="i-checks">
                                    <input ng-model="row.selected" ng-true-value="'1'" ng-false-value="'0'" ng-checked="value.selected == '1'"  type="checkbox" name="checkall" class="oplistcheckbox oplistcheckbox_{{op_key}}" ng-click="updateCheckbox(row, op_key)">
                                    <i></i>
                                </label>
                            </td>
                            <td colspan="7">
                                <button ng-click="value.expanded = !value.expanded;
                                                    setRowExpanded(value.consultant_id, value.expanded)" expand class="btn btn-sm btn-default hms-plus">
                                    <i ng-if="!value.expanded" class="fa fa-plus text"></i>
                                    <i ng-if="value.expanded" class="fa fa-minus text"></i>
                                </button>
                                &nbsp; &nbsp;
                                <b>
                                    <span class="badge bg-primary">Consultant: {{value.consultant_name}}</span>&nbsp; &nbsp;
                                    <span class="badge bg-black">Booking: {{value.booking_count}}</span>&nbsp; &nbsp;
                                    <i class="fa fa-spin fa-spinner" ng-if="value.rowLoading == true"></i>
                                </b>
                            </td>

                        </tr>

                        <tr ng-show="value.expanded" ng-repeat="(key, row) in value.act_enc" class="tr_oplistcheckbox tr_oplistcheckbox_{{op_key}}">
                            <td align="center">
                                <label class="i-checks" ng-if="row.apptArrivalData == '-'">
                                    <input ng-model="row.selected" ng-true-value="'1'" ng-false-value="'0'" ng-checked="row.selected == '1'" class="oplistcheckbox oplistcheckbox_{{op_key}}" id="oplist_{{op_key}}_{{key}}" type="checkbox" name="status" ng-click="moreOptions(op_key, key, row.liveAppointmentConsultant.user_id, row.liveAppointmentBooking.appt_id, row)">
                                    <i></i>
                                </label>
                            </td>
                            <td align="center" valign="middle">
                                <div style="margin-top: -10px; position: absolute;">
                                    <img ng-if="(row.apptArrivalData != '-' && row.apptArrivalData.waiting_elapsed)" class="pull-left" src="img/elapsed-waiting-time.png"  alt="" tooltip="Elapsing Waiting Time" tooltip-trigger tooltip-animation="false" tooltip-placement="right"/>
                                    <img ng-if="row.apptPatientData.hasalert" class="pull-left" src="img/symbol1.png"  alt="" tooltip="Has Alert" tooltip-trigger tooltip-animation="false" tooltip-placement="right"  />
                                    <img ng-if="row.apptPatientData.incomplete_profile" class="pull-left" src="img/question.png"  alt="" tooltip="Incomplete Profile" tooltip-trigger tooltip-animation="false" tooltip-placement="right" />
                                </div>
                            </td>
                            <td>
                                <img width="49" height="49" class="pull-left" src="img/man-icon.png" ng-attr-lazy-img="{{ row.apptPatientData.patient_img_url ? row.apptPatientData.patient_img_url : ($even ? 'img/man-icon.png' : 'img/man-icon2.png') }}" />
                                <a ui-sref="patient.view({id: row.apptPatientData.patient_guid})" tooltip="{{row.apptPatientData.fullcurrentaddress}}">
                                    {{row.apptPatientData.fullname}}
                                </a>({{row.apptPatientData.patient_age_ym}}) <br/>
                                {{row.apptPatientData.patient_global_int_code}}
                            </td>
                            <td valign="middle">
                                <div ng-if="row.apptPatientData.patient_category" class="category_badge" tooltip="{{row.apptPatientData.patient_category_fullname}}" tooltip-trigger tooltip-animation="false" tooltip-placement="top" style="background-color: {{row.apptPatientData.patient_category_color}}">
                                    {{row.apptPatientData.patient_category| uppercase}}
                                </div>
                            </td>
                            <td>
                                <a editable-text="row.apptPatientData.patient_mobile" e-number-mask="" onbeforesave="updatePatient(row.apptPatientData.patient_id, {'patient_mobile': $data}, $data)">
                                    {{row.apptPatientData.patient_mobile}}
                                </a>
                            </td>
                            <td>{{row.apptBookingData.status_datetime| moment:'hh:mm A'}}<br/>  <span class="text-muted"> {{row.apptBookingData.status_date}}</span></td>
                            <td align="left">
                                <div ng-include="'tpl/patient/patient_table_nav_bar.html'">
                                    {% include 'tpl/patient/patient_table_nav_bar.html' %}
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat-end><br></tr>
                    </tbody>

                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="10" class="text-center"><i class="fa fa-spin fa-refresh"></i></td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="10" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div id="calendar_view" class="wrapper-md view_div" ng-controller="FutureAppointmentCalenderController" ng-init="loadEvents()">
        <div class="panel panel-default">
            <div class="hbox hbox-auto-xs hbox-auto-sm">
                <div class="col wrapper-md">
                    <div class="clearfix mb-10">
                        <!--                <button type="button" tooltip="Double click on calendar day to create event" class="btn btn-sm btn-primary btn-addon" ng-click="add_appointment()">
                                            <i class="fa fa-plus"></i>Add
                                        </button>-->
                        <div class="pull-right">
                            <button type="button" class="btn btn-sm btn-default" ng-click="today()">today</button>
                            <div class="btn-group m-l-xs">
                                <button class="btn btn-sm btn-default" ng-click="changeView('agendaDay')">Day</button>
                                <button class="btn btn-sm btn-default" ng-click="changeView('agendaWeek')">Week</button>
                                <button class="btn btn-sm btn-default" ng-click="changeView('month')">Month</button>
                            </div>
                        </div>
                    </div>
                    <div class="pos-rlt">
                        <div class="fc-overlay">
                            <div class="panel bg-white b-a pos-rlt">
                                <span class="arrow"></span>
                                <div class="h4 font-thin m-b-sm">{{event.title}}</div>
                                <div class="line b-b b-light"></div>
                                <div><i class="icon-calendar text-muted m-r-xs"></i> {{event.start| date:'medium'}}</div>
                                <div class="ng-hide" ng-show='event.end'><i class="icon-clock text-muted m-r-xs"></i> {{event.end| date:'medium'}}</div>
                                <div class="ng-hide" ng-show='event.location'><i class="icon-pointer text-muted m-r-xs"></i> {{event.location}}</div>
                                <div class="m-t-sm">{{event.info}}</div>
                                <div class="m-t-sm">{{event.url}}</div>
                            </div>
                        </div>
                        <div class="calendar" ng-model="eventSources" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
                    </div>
                </div>

                <div class="col w-md w-auto-xs">
                    <div class="wrapper">
                        <div ng-repeat="consultant in consultants" class="r r-2x m-b-xs wrapper-sm {{consultant.className[0]}}">
                            {{consultant.title}} - {{consultant.visit_count}}
                            <input id="{{consultant.id}}" type="checkbox" class="pull-right" ng-model="showhideevents" ng-checked="true" ng-click="showHideEvents(consultant, showhideevents)"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
