<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-5 control-label">Brand Name * </label>
                    <div class="col-sm-7">
                        <select class="form-control" ng-model="data.brand_id" ng-options="brand.brand_id as brand.brand_name for brand in brands | orderBy: brand_name">
                            <option value="">Select Brand Name</option>
                        </select>
                    </div>
                </div>      
                <div class="line line-dashed b-b line-lg "></div>

                <div class="form-group">
                    <label class="col-sm-5 control-label">Brand Division * </label>
                    <div class="col-sm-7">
                        <select class="form-control" ng-model="data.division_id" ng-options="division.division_id as division.division_name for division in divisions | orderBy: division_name">
                            <option value="">Select Division Name</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg "></div>

                <div class="form-group">
                    <label class="col-sm-5 control-label">Representative Name 1 * </label>
                    <div class="col-sm-7">
                        <input type="text" ng-model="data.rep_1_name" maxlength="50" class="form-control" >
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg "></div>

                <div class="form-group">
                    <label class="col-sm-5 control-label">Representative Contact 1 * </label>
                    <div class="col-sm-7">
                        <input type="text" ng-model="data.rep_1_contact" maxlength="10" class="form-control" number-mask="">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg "></div>

                <div class="form-group">
                    <label class="col-sm-5 control-label">Designation 1 * </label>
                    <div class="col-sm-7">
                        <input type="text" ng-model="data.rep_1_designation" maxlength="50" class="form-control" >
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg "></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-5 control-label">Representative Name 2  </label>
                    <div class="col-sm-7">
                        <input type="text" ng-model="data.rep_2_name" maxlength="50" class="form-control" >
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg "></div>

                <div class="form-group">
                    <label class="col-sm-5 control-label">Representative Contact 2  </label>
                    <div class="col-sm-7">
                        <input type="text" ng-model="data.rep_2_contact" maxlength="10" class="form-control"  number-mask="">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg "></div>

                <div class="form-group">
                    <label class="col-sm-5 control-label">Designation 2  </label>
                    <div class="col-sm-7">
                        <input type="text" ng-model="data.rep_2_designation" maxlength="50" class="form-control" >
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg "></div>

                <div class="form-group">
                    <label class="col-sm-5 control-label">Status</label>
                    <div class="col-sm-7">
                        <label class="i-checks "> 
                            <input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" name="status" ng-model="data.status" ng-checked="data.status == '1'"> 
                            <i></i> 
                        </label> &nbsp; &nbsp;
                    </div>
                </div>
            </div>
            <footer class="panel-footer text-right bg-light lter">
                <button class="btn m-b-xs  btn-success save-btn" ng-click="saveForm(data.formtype)">Save</button>
                &nbsp;
                <button class="btn m-b-xs  btn-dark" ng-click="$state.go('configuration.brandrep')">
                    <i class="fa fa-times"></i> Cancel
                </button>
                &nbsp;
            </footer>
        </div>
    </div>
</div>