<div ng-controller="CountrysController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Create Country</h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-6" ng-init="data = {}; data.formtype = 'add'; initForm(); data.status = '1'">
                <form name="countryForm" class="form-horizontal form-validation" novalidate="">
                    <div ng-include="'tpl/countries/_form.html'">
                        {% include 'tpl/countries/_form.html' %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
