<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Doctor Scheduling</h1>
</div>

<div class="wrapper-md" ng-controller="DoctorSchedulesController" ng-init="loadDoctorSchedulesList()">
    <div ng-include="'tpl/blocks/alert.html'">
        {% include 'tpl/blocks/alert.html' %}
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <button class="btn btn-sm btn-grey" ng-click="loadDoctorSchedulesList()">
                &nbsp; &nbsp; <i class="fa fa-repeat"></i> &nbsp; &nbsp;
            </button>
            <input id="filter" type="text" class="form-control input-sm w-sm inline m-r" placeholder="Search" ng-model="form_filter"/>
            <button check-access-button ng-click="$state.go('configuration.docScheduleCreate')" class="btn btn-sm btn-info pull-right">
                <i class="fa fa-plus"></i> &nbsp; Add Doctor Schedule
            </button>
        </div>
        <table data-filter="#filter" data-filtering="true" ui-jq="footable" class="table m-b-none footable-loaded footable default">
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-sm btn-default" type="button" ng-click="ctrl.expandAll(allExpanded = !allExpanded)">
                            <i ng-if="!allExpanded" class="fa fa-plus text"></i>
                            <i ng-if="allExpanded" class="fa fa-minus text"></i>
                        </button>
                    </th>
                    <th>Doctor name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody ng-hide="isLoading">
                <tr ng-repeat-start="row in displayedCollection| orderBy: name">
                    <td>
                        <button ng-click="expanded = !expanded" expand class="btn btn-sm btn-default hms-plus">
                            <i ng-if="!expanded" class="fa fa-plus text"></i>
                            <i ng-if="expanded" class="fa fa-minus text"></i>
                        </button>
                    </td>
                    <td>
                        {{row.name}}
                    </td>
                    <td>
                        <a class="hide" title="Delete" ng-click="deleteAllTimings(row.user_id);">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-repeat-end ng-show="expanded" data-value="{{row.name}}">
                    <td data-value="{{row.name}}"></td>
                    <td colspan="2" data-value="{{row.name}}">
                        <div class="row"  ng-repeat="day in row.days| orderBy: dayname">
                            <div class="col-sm-6">

                                <div class="panel panel-default inner-panel">
                                    <div class="panel-heading">
                                        <b> Interval </b>
                                    </div>
                                    <div class="panel-body doc-timing">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
                                            <tr>
                                                <td><span editable-select="row.interval" e-ng-options="interval.value as interval.label for interval in intervals" e-name="interval" e-form="intervalform" e-onkeydown="return false;">
                                                        {{row.interval}} Min
                                                    </span>
                                                </td>
                                                <td>
                                                    <form editable-form name="intervalform" onbeforesave="updateInterval($data, row.user_id)" ng-show="intervalform.$visible" class="form-buttons form-inline" shown="inserted == row">
                                                        <button type="submit" ng-disabled="intervalform.$waiting" class="badge bg-success">
                                                            Save
                                                        </button>
                                                        &nbsp;&nbsp;
                                                        <button type="button" ng-disabled="intervalform.$waiting" ng-click="intervalform.$cancel()" class="badge bg-dark">
                                                            Cancel
                                                        </button>
                                                    </form>
                                                    <div class="buttons" ng-show="!intervalform.$visible">
                                                        <button class="badge bg-dark" ng-click="intervalform.$show()">Edit</button>
                                                        &nbsp;&nbsp;
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="panel panel-default inner-panel">

                                    <div class="panel-heading">
                                        <b> {{day.dayname}} </b>
                                    </div>

                                    <div class="panel-body doc-timing"> 
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
                                            <tr>
                                                <th>Time In</th>
                                                <th>Time Out</th>
                                                <th></th>
                                            </tr>
                                            <tr ng-repeat="timing in day.timing">
                                                <td>
                                                    <span editable-text="timing.schedule_time_in" e-name="schedule_time_in" e-form="rowform" onbeforesave="checkInput($data)" onshow="initTimepicker();" e-class="timepicker" e-onkeydown="return false;">
                                                        {{timing.schedule_time_in|| 'empty' }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span editable-text="timing.schedule_time_out" e-name="schedule_time_out" e-form="rowform" onbeforesave="checkInput($data)" onshow="initTimepicker();" e-class="timepicker" e-onkeydown="return false;">
                                                        {{timing.schedule_time_out|| 'empty' }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <form editable-form name="rowform" onbeforesave="updateTimings($data, timing.schedule_id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == timing">
                                                        <button type="submit" ng-disabled="rowform.$waiting" class="badge bg-success">
                                                            Save
                                                        </button>
                                                        &nbsp;&nbsp;
                                                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="badge bg-dark">
                                                            Cancel
                                                        </button>
                                                    </form>
                                                    <div class="buttons" ng-show="!rowform.$visible">
                                                        <button class="badge bg-dark" ng-click="rowform.$show()">Edit</button>
                                                        &nbsp;&nbsp;
                                                        <button class="badge bg-danger" ng-click="deleteTiming(timing.schedule_id, row.user_id, day.schedule_day);">Delete</button>
                                                    </div> 
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody ng-show="isLoading">
                <tr>
                    <td colspan="3" class="text-center"><i class="fa fa-spin fa-refresh"></i></td>
                </tr>
            </tbody>
            <!--            <tfoot>
                            <tr>
                                <td colspan="3" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                </td>
                            </tr>
                        </tfoot>-->
        </table>
    </div>
</div>
