<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Alerts</h1>
</div>

<div class="wrapper-md" ng-controller="PatientAlertsController" ng-init="loadPatientAlertsList()">

    <div ng-include="'tpl/blocks/alert.html'">
        {% include 'tpl/blocks/alert.html' %}
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button class="btn btn-sm btn-grey" ng-click="loadPatientAlertsList()"> 
                &nbsp; &nbsp; <i class="fa fa-repeat"></i> &nbsp; &nbsp; 
            </button>
            <button check-access-button ng-click="$state.go('patient.alertCreate', {id: $state.params.id})" class="btn btn-sm btn-info pull-right">
                <i class="fa fa-plus"></i> &nbsp; Add new Alert
            </button>
        </div>

        <table st-table="displayedCollection"  st-safe-src="rowCollection" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th st-sort="alert_description">Alert name</th>
                    <th st-sort="alert_type">Alert Type</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="'alert_description'" placeholder="search for alert name" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="'alert_type'" placeholder="search for alert type" class="input-sm form-control" type="search"/>
                    </th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody ng-hide="isLoading">
                <tr ng-repeat="row in displayedCollection| orderBy: alert_description">
                    <td>
                        {{row.alert_description}}
                    </td>
                    <td>
                        {{row.alert_type}}
                    </td>
                    <td>
                        <div ng-if="row.tenant_id != null">
                            <a title="Edit" check-access  ui-sref="patient.alertUpdate({id: $state.params.id, alert_id: row.pat_alert_id})">
                                <i class="fa fa-pencil"></i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a class="hide" title="Delete" ng-click="removeRow(row)">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody ng-show="isLoading">
                <tr>
                    <td colspan="4" class="text-center"><i class="fa fa-spin fa-refresh"></i></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>