<div ng-controller="BrandsController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3"> Update Brand </h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-6" ng-init="loadForm()">
                <form name="brandForm" class="form-horizontal form-validation" novalidate="">
                    <input type="hidden" ng-model="data.brand_id">
                    <div ng-include="'tpl/pharmacy_brand/_form.html'">
                        {% include 'tpl/pharmacy_brand/_form.html' %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
