<div ng-controller="PatientGroupsController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Update Patient Group</h1>
    </div>
    
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-6" ng-init="data.formtype = 'update'; loadForm();" novalidate="">
                <form name="patientGroupForm" class="form-horizontal form-validation">
                    <input type="hidden" ng-model="data.patient_cat_id">
                    <div ng-include="'tpl/patient_groups/_form.html'">
                        {% include 'tpl/patient_groups/_form.html' %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
