<form name="patientAppointmentChangeStatusForm" class="form-horizontal form-validation" novalidate="" >
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">Status</label>
                <div class="col-sm-9"> Arrived </div>
            </div>
            <div class="line line-dashed b-b line-lg "></div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Status Timing * </label>
                <div class="col-sm-9">
                    <div class="input-group w-md">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0)">
                            <div class="input-group">
                                <input type="text" class="form-control" data-ng-model="data.PatAppointment.status_date" data-date-time-input="YYYY-MM-DD hh:mm A" />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="data.PatAppointment.status_date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" data-on-set-time="onTimeSet(newDate, oldDate)" data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)" />
                        </ul>
                    </div>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg "></div>
        </div>

        <footer class="panel-footer text-right bg-light lter">
            <button class="btn m-b-xs  btn-success save-btn" ng-click="changeAppointmentStatus('arrived')">Save</button> &nbsp;
            <button class="btn m-b-xs  btn-dark" ng-click="$state.go('patient.encounter', {id: $state.params.id})"><i class="fa fa-times"></i> Cancel</button>
        </footer>
    </div>
</form>