<div ng-controller="PatientAppointmentController" ng-init="initCanCreateAppointment(); loadPatientDetail()">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Patient Appointment</h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-12" ng-init="data = {}; data.formtype = 'add';
                            initForm(); initAppointmentForm();
                            data.status = '1';
                            data.appt_status = 'B';
                 ">
                <form name="patientAppointmentForm" class="form-horizontal form-validation" novalidate="">
                    <div ng-include="'tpl/patient_appointment/_form.html'">
                        {% include 'tpl/patient_appointment/_form.html' %}
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
