<div ng-controller="RoomChargesController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Update Room Charge: {{data.charge}}</h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-6" ng-init="data.formtype = 'update'; initForm(); loadForm();" novalidate="">
                <form name="roomchargeForm" class="form-horizontal form-validation" novalidate="">
                      <input type="hidden" ng-model="data.charge_id">
                   <div ng-include="'tpl/room_charge/_form.html'">
                        {% include 'tpl/room_charge/_form.html' %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
