<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n h3"> Vitals </h1>
</div>

<div class="wrapper-md" ng-controller="VitalsController" ng-init="loadPatVitalsList()">
    <div class="panel panel-default">
        <div class="row wrapper">
            <div class="col-sm-6">
                <button class="btn btn-info" ng-show="HaveActEnc" ng-click="$state.go('patient.vitalCreate', {id: $state.params.id})">
                    <i class="fa fa-plus"></i> Add Vitals
                </button>
            </div>
            <div class="col-sm-6 text-right">
                <select class="form-control search-dropdown" ng-model="day" ng-options="day.value as day.label for day in days">
                    <option value="">DD</option>
                </select>
                <select class="form-control search-dropdown" ng-model="month" ng-options="month.value as month.label for month in months">
                    <option value="">MM</option>
                </select>
                <select class="form-control search-dropdown" ng-model="year" ng-options="year.value as year.label for year in years">
                    <option value="">YYYY</option>
                </select>
                <!--                        <div class="input-group">
                                            <input placeholder="Filter by date" prevent-enter type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="filterdate" is-open="opened" datepicker-options="dateOptions" close-text="Close" max-date="maxDate" date-disabled="disabled(date, mode)" ng-change="loadPatVitalsList(filterdate);"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>-->

                <button class="btn m-b-xs btn-grey"  ng-disabled=" (day && month && year) ? false : true" ng-click="loadPatVitalsList(year + '-' + month + '-' + day)">
                    &nbsp; &nbsp; <i class="fa fa-search"></i> &nbsp; &nbsp;
                </button>
                <button ng-click="day = '';month = '';year = '';loadPatVitalsList()" class="btn m-b-xs btn-dark">
                    <i class="fa fa-times"></i>
                </button>

            </div>
        </div>

        <div class="table-responsive in-patient-table">
            <table st-table="displayedCollection"  st-safe-src="rowCollection"  class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-sm btn-default hms-plus" type="button" ng-click="ctrl.expandAll(allExpanded = !allExpanded)">
                                <i ng-if="!allExpanded" class="fa fa-plus text"></i>
                                <i ng-if="allExpanded" class="fa fa-minus text"></i>
                            </button>
                        </th>
                        <th>Branch</th>
                        <th>Vital Time</th>
                        <th>Temperature</th>
                        <th>Blood Pressure</th>
                        <th>Pulse Rate</th>
                        <th>Weight</th>
                        <th>Height</th>
                        <th>SP02</th>
                        <th>Pain Score</th>
                        <th>BMI</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody ng-hide="isLoading">
                    <tr ng-repeat-start="(key, value) in displayedCollection" ng-init="expanded = (key == 0) ? true : false;">
                        <td>
                            <button ng-click="expanded = !expanded" expand class="btn btn-sm btn-default hms-plus">
                                <i ng-if="!expanded" class="fa fa-plus text"></i>
                                <i ng-if="expanded" class="fa fa-minus text"></i>
                            </button>
                        </td>
                        <td colspan="12">
<!--                            <span class="badge bg-success">Branch: {{value.branch_name}}</span>&nbsp; &nbsp;-->
                            <span class="badge bg-primary">Encounter: {{value.encounter_id}}</span>&nbsp; &nbsp;
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-show="expanded" ng-repeat="(vital_key, vital) in value.all">
                        <td>&nbsp;  </td>
                        <td>{{vital.branch_name}}</td>
                        <td> {{vital.vital_time| moment:'DD/MM/YYYY'}}
                            <span class="label bg-light dk">{{vital.vital_time| moment:'hh:mm A'}}</span>
                        </td>
                        <td> {{vital.temperature|| '-'}} </td>
                        <td> {{vital.blood_pressure_systolic|| '-'}} / {{vital.blood_pressure_diastolic|| '-'}}</td>
                        <td> {{vital.pulse_rate|| '-'}} </td>
                        <td> {{vital.weight|| '-'}} </td>
                        <td> {{vital.height|| '-'}} </td>
                        <td> {{vital.sp02|| '-'}} </td>
                        <td> {{vital.pain_score|| '-'}} </td>
                        <td> {{vital.bmi|| '-'}} </td>
                        <td>
                            <a ng-show="vital.tenant_id == app.logged_tenant_id" class="label bg-info dk" title="Edit" check-access  ui-sref="patient.vitalUpdate({id: '{{$state.params.id}}', vital_id: '{{vital.vital_id}}'})">
                                <i class="fa fa-pencil"></i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <div ng-if="vital.tenant_id != null && vital.encounter_status">
                                <a ng-show="vital.tenant_id == app.logged_tenant_id" title="Delete" ng-click="removeRow(vital)" class="label bg-dark dk">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>

                <tbody ng-show="isLoading">
                    <tr>
                        <td colspan="12" class="text-center"><i class="fa fa-spin fa-refresh"></i></td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="12" class="text-center">
                            <!--<div st-items-by-page="itemsByPage" st-pagination="" st-template="tpl/patient/pagination.custom.html"></div>-->
                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>