<div ng-controller="StatesController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Update State: {{data.state_name}}</h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-6" ng-init="data.formtype = 'update'; initForm();" novalidate="">
                <form name="stateForm" class="form-horizontal form-validation">
                     <input type="hidden" ng-model="data.state_id">
                    <div ng-include="'tpl/states/_form.html'">
                        {% include 'tpl/states/_form.html' %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
