<div>
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Scan Document</h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-12" ng-init="data.status = '1'">
                <form name="descForm" class="form-horizontal form-validation" novalidate="">
                    <div class="modal-body wrapper-lg">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group" ng-hide="popupLoading" ng-repeat="value in scan_document">
                                    <label class="col-sm-6 control-label">{{value.data.file_org_name}}</label>
                                    <div class="col-sm-6">
                                        <a ng-if="value.data.file_type == 'application/pdf' || value.data.file_type == 'image/png' || value.data.file_type == 'image/jpg' || value.data.file_type == 'image/jpeg' || value.data.file_type == 'text/plain'" class="btn m-b-xs btn-dark" ng-href="{{value.file_url}}" target="'_new'"><i class="fa fa-eye"></i></a>
                                        <button class="btn m-b-xs btn-dark" ng-click="singleFileDownload(value)"><i class="fa fa-download"></i></button>
                                    </div>
                                </div>
                                <div class="form-group text-center" ng-show="popupLoading">
                                    <i class="fa fa-spin fa-refresh"></i>
                                </div>
                            </div>
                            <footer class="panel-footer text-right bg-light lter">
                                <button class="btn m-b-xs  btn-dark" ng-click="MultipleFileDownload()"><i class="fa fa-download"></i> Download All</button>
                                &nbsp;
                                <button class="btn m-b-xs  btn-dark" ng-click="cancel()"><i class="fa fa-times"></i> Cancel</button>
                                &nbsp;
                            </footer>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

