<div>
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3"> Password Verification ({{title}})</h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-12" ng-init="data.verify_password = ''">
                <form name="passwordVerificationForm" class="form-horizontal form-validation" novalidate="">
                    <div class="modal-body wrapper-lg">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Password * </label>
                                    <div class="col-sm-9">
                                        <input type="password" ng-model="data.verify_password" autofocus maxlength="50" class="form-control" placeholder="Password">
                                    </div>
                                </div>
                            </div>
                            <footer class="panel-footer text-right bg-light lter">
                                <button class="btn m-b-xs  btn-success save-btn" ng-click="saveForm()">Submit</button>
                                &nbsp;
                                <button class="btn m-b-xs  btn-dark" ng-click="cancel()"><i class="fa fa-times"></i> Cancel</button>
                                &nbsp;
                            </footer>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>