<div ng-controller="DocumentsController">
    <style>
        .ui-datepicker-calendar {
            display: none;
        }
    </style>
    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-n h3">Update Document</h1>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-sm btn-dark pull-right" ng-click="$state.go('patient.document', {id: $state.params.id})">
                    <i class="fa fa-arrow-left"></i> Back
                </button>
            </div>
        </div>
    </div>
    <div class="wrapper-md" ng-init="initFormUpdate();">
        <div class="panel-body" ng-if="document_type == 'MCH'" ng-show="pastMedical.length > 0">
            <div class="panel panel-default">
                <div class="panel-heading bg-default">
                    <b>Past Medical History</b>
                </div>
                <div class="panel-body" style="height:150px;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
                    <table width='100%' class="table table-striped b-t b-light">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Encounter</th>
                                <th>Past Medical Notes</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="past in pastMedical">
                                <td>{{past.created_at| moment:'DD/MM/YYYY - hh:mm A'}}</td>
                                <td>{{past.encounter_id}}</td>
                                <td class="v-middle">
                                    <span editable-textarea="past.past_medical"  e-rows="3" e-cols="40" e-name="past_medical" e-form="pastmedicalform" onbeforesave="checkName($data)" e-required>
                                        {{ past.past_medical || 'empty' }}
                                    </span>
                                </td>
<!--                                <td>{{past.past_medical}}</td>-->
                                <td>{{past.created_by}}</td>
                                <td style="white-space: nowrap">
                                    <!-- form -->
                                    <form editable-form name="pastmedicalform" onbeforesave="updatePastmedical($data, past.pat_past_medical_id)" ng-show="pastmedicalform.$visible" class="form-buttons form-inline">
                                        <button type="submit" ng-disabled="pastmedicalform.$waiting" class="btn m-b-xs btn-info save-btn">
                                            Save
                                        </button>
                                        <button type="button" ng-disabled="pastmedicalform.$waiting" ng-click="pastmedicalform.$cancel()" class="btn m-b-xs btn-default">
                                            Cancel
                                        </button>
                                    </form>
                                    <div class="buttons" ng-show="!pastmedicalform.$visible">
                                        <button class="btn m-b-xs  btn-primary " ng-click="pastmedicalform.$show()"> <i class="fa fa-pencil"></i> Edit</button> 
                                    </div>  
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div ng-show="isLoading" class="text-center">
            <i class="fa fa-spin fa-refresh"></i>
        </div>
        <div ng-hide="isLoading">
            <div ng-bind-html="xml | xslt:xslt | sanitize"></div>
            <footer class="panel-footer text-right bg-light lter">
                <input type="submit" class="btn m-b-xs  btn-success save-btn" id="btn_sub" name="btn_sub" value="Submit" ng-click="document_type == 'CH' ? submitXsl(doc_id) : savemedicalForm(doc_id)"  />
            </footer>
        </div>
    </div>
</div>