<div ng-controller="PatientCaseSheetController" ng-init="loadPatientCaseSheetForm()">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Modify Case Sheet No</h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div>
            <div class="row">
                <div class="col-sm-6">
                    <form name="caseSheetForm" class="form-horizontal form-validation">
                        <div class="panel panel-default">
                            <div class="panel-body">                    
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Case Sheet No *</label>
                                    <div class="col-sm-9">
                                        <input type="text" ng-model="data.casesheet_no" class="form-control" placeholder="" >
                                    </div>
                                </div>
                            </div>
                            <footer class="panel-footer text-right bg-light lter">
                                <button class="btn m-b-xs  btn-success save-btn" ng-click="saveCasesheetForm()">Save</button>
                                &nbsp;
                                <button class="btn m-b-xs  btn-dark" ng-click="$state.go('patient.encounter', {id: $state.params.id});"><i class="fa fa-times"></i> Cancel</button>
                                &nbsp;
                            </footer>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>