<!--<div ng-controller="PatientUpdateController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Update Patient</h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div>
            <div class="row">
                <div class="col-sm-6">
                    <form name="formValidate" class="form-horizontal form-validation">
                        <div class="panel panel-default">
                            <div class="panel-body">                    
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">First Name * </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model="data.PatPatient.patient_title_code" ng-options="titleCode.value as titleCode.label for titleCode in titleCodes | orderBy: label">
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" ng-model="data.PatPatient.patient_firstname" class="form-control" placeholder="" >
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Last Name   </label>
                                    <div class="col-sm-9">
                                        <input type="text" ng-model="data.PatPatient.patient_lastname" class="form-control" placeholder="" >
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"> Gender * </label>
                                    <div class="col-sm-9">
                                        <label class="i-checks" ng-repeat="gender in genders">
                                            <input type="radio" checked="" value="{{gender.value}}" name="a" ng-model="data.PatPatient.patient_gender">
                                            <i></i>
                                            {{gender.label}}&nbsp; &nbsp;
                                        </label>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"> Age </label>
                                    <div class="col-sm-9">
                                        <input type="text" ng-model="data.PatPatient.patient_age" class="form-control" placeholder="" ng-change="setDateEmpty();
                                                        getDOB();">
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"> DOB </label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="data.PatPatient.patient_dob" is-open="opened" datepicker-options="dateOptions" close-text="Close" max-date="maxDate" date-disabled="disabled(date, mode)" ng-change="setAgeEmpty();
                                                            getAge();"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Marital Status    </label>
                                    <div class="col-sm-9">
                                        <select ng-model="data.PatPatient.patient_marital_status" class="form-control" ng-options="maritalStatus.value as maritalStatus.label for maritalStatus in maritalStatuses | orderBy: label">
                                            <option value="">Select Marital Status</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Billing      </label>
                                    <div class="col-sm-9">
                                        <label class="i-checks" ng-repeat="bill_type in bill_types">
                                            <input type="radio" checked="" value="{{bill_type.value}}" name="b" ng-model="data.PatPatient.patient_bill_type">
                                            <i></i>
                                            {{bill_type.label}}&nbsp; &nbsp;
                                        </label>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Category      </label>
                                    <div class="col-sm-9">
                                        <select ng-model="data.PatPatient.patient_category_id" class="form-control" ng-options="category.patient_cat_id as category.patient_cat_name for category in categories | orderBy: patient_cat_name">
                                            <option value="">Select Category</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="line line-dashed b-b line-lg "></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Mobile No * </label>
                                    <div class="col-sm-9">
                                        <input type="text" ng-model="data.PatPatient.patient_mobile" class="form-control" placeholder="" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <form name="formValidate" class="form-horizontal form-validation">
                        <div class="panel panel-default">
                            <div class="panel-body">                    
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Current Address  </label>
                                    <div class="col-sm-9">
                                        <textarea ng-model="data.PatPatientAddress.addr_current_address" class="form-control" placeholder="" ></textarea>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Place  </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model="data.PatPatientAddress.addr_country_id" ng-options="country.value as country.label for country in countries | orderBy: label" ng-change="updateState2();
                                                        data.PatPatientAddress.addr_state_id = '';
                                                        data.PatPatientAddress.addr_city_id = '';">
                                            <option value="">Select Country</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control" name="State" ng-model="data.PatPatientAddress.addr_state_id" ng-options="state.value as state.label for state in availableStates2 | orderBy: label" ng-change="updateCity2();
                                                        data.PatPatientAddress.addr_city_id = '';">
                                            <option value="">Select State</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control" name="City" ng-model="data.PatPatientAddress.addr_city_id" ng-options="city.value as city.label for city in availableCities2 | orderBy: label">
                                            <option value="">Select City</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Zip </label>
                                    <div class="col-sm-9">
                                        <input type="text" ng-model="data.PatPatientAddress.addr_zip" class="form-control" placeholder="" >
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Same as current address </label>
                                    <div class="col-sm-9">
                                        <label class="i-checks m-b-none">
                                            <input ng-model="data.is_permanent" type="checkbox" name="b[]" ng-click="CopyAddress()"><i></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Permanent Address  </label>
                                    <div class="col-sm-9">
                                        <textarea ng-model="data.PatPatientAddress.addr_perm_address" class="form-control" placeholder="" ></textarea>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Country  </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model="data.PatPatientAddress.addr_perm_country_id" ng-options="country.value as country.label for country in countries | orderBy: label" ng-change="updateState();
                                                        data.PatPatientAddress.addr_perm_state_id = '';
                                                        data.PatPatientAddress.addr_perm_city_id = '';">
                                            <option value="">Select Country</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control" name="State" ng-model="data.PatPatientAddress.addr_perm_state_id" ng-options="state.value as state.label for state in availableStates | orderBy: label" ng-change="updateCity();
                                                        data.PatPatientAddress.addr_perm_city_id = '';">
                                            <option value="">Select State</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control" name="City" ng-model="data.PatPatientAddress.addr_perm_city_id" ng-options="city.value as city.label for city in availableCities | orderBy: label">
                                            <option value="">Select City</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Zip </label>
                                    <div class="col-sm-9">
                                        <input type="text" ng-model="data.PatPatientAddress.addr_perm_zip" class="form-control" placeholder="" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
            <footer class="panel-footer text-right bg-light lter">
                    <button class="btn m-b-xs  btn-success save-btn" ng-click="saveForm()">Save</button> &nbsp;
                    <button class="btn m-b-xs  btn-dark " ng-click="$state.go('patient.view', {id: data.PatPatient.patient_guid})">Cancel</button> &nbsp;
                </footer>
        </div>
    </div>
</div>-->