<div ng-controller="SuppliersController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Update Supplier: {{data.supplier_name}}</h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-12" ng-init="data.formtype = 'update'; initForm();" novalidate="">
                <form name="alertForm" class="form-horizontal form-validation">
                     <input type="hidden" ng-model="data.supplier_id">
                    <div ng-include="'tpl/pharmacy_supplier/_form.html'">
                        {% include 'tpl/pharmacy_supplier/_form.html' %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
