<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n h3">Assign Role Rights</h1>
</div>

<div class="wrapper-md">
    <div ng-controller="RolesRightsController">

        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>

        <div class="row">
            <div class="col-sm-6">
                <form name="roleRightsForm" class="form-horizontal form-validation">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-5 control-label"> Health Organization </label>
                                <div class="col-sm-7">
                                    {{organization.tenant_name}}
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg "></div>
                            
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Role * </label>
                                <div class="col-sm-7">
                                    <select class="form-control" ng-model="data.role_id" ng-options="role.role_id as role.description for role in roles | orderBy: description" ng-change="getSavedRights()">
                                        <option value="">Select Role</option>
                                    </select>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg "></div>
                            
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Access Rights</label>
                                <div class="col-sm-7">
                                    <div 
                                        ivh-treeview="modules"
                                        ivh-treeview-validate="true"
                                        ivh-treeview-default-selected-state="false"
                                        ivh-treeview-expand-to-depth="2"
                                        ></div>
                                </div>
                            </div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button class="btn m-b-xs  btn-success save-btn" ng-click="saveRoleRights()">Assign</button>
                        </footer>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
