<div ng-controller="ProductsController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Edit Product</h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-12" ng-init="data.formtype = 'update';
                            initForm();
                            loadForm();" novalidate="">
                <form name="productForm" class="form-horizontal form-validation">
                    <input type="hidden" ng-model="data.product_id">
                    <div ng-include="'tpl/pharmacy_products/_form.html'">
                        {% include 'tpl/pharmacy_products/_form.html' %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
