<div ng-controller="RoomChargeCategoryItemsController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Update Room Charge Item: {{data.charge_item_name}}</h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-6" ng-init="data.formtype = 'update'; initForm(); loadForm();" novalidate="">
                <form name="roomChargeCategoryItemForm" class="form-horizontal form-validation">
                     <input type="hidden" ng-model="data.charge_item_id">
                    <div ng-include="'tpl/room_charge_category_item/_form.html'">
                        {% include 'tpl/room_charge_category_item/_form.html' %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
