<div ng-controller="NotesController" ng-init="initCanCreateNote(); initForm();">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Create Note</h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-6" ng-init="data = {}; data.formtype = 'add';">
                <form name="noteForm" class="form-horizontal form-validation" novalidate="">
                    <div ng-include="'tpl/patient_notes/_form.html'">
                        {% include 'tpl/patient_notes/_form.html' %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
