<div ng-controller="RoomMaintenanceController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Create Room Maintenance</h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-12" ng-init="data = {}; data.formtype = 'add'; data.status = '1'">
                <form name="roomMaintenanaceForm" class="form-horizontal form-validation" novalidate="">
                    <div ng-include="'tpl/room_maintenance/_form.html'">
                        {% include 'tpl/room_maintenance/_form.html' %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>